-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- blog_head_setting = SiteSetting.find_by(key: 'blog_background')

- content_for(:hero_head) do
  = render partial: 'shared/hero_head_image_title',
    locals: { image_url: header_image_variant_url(blog_head_setting&.image),
      title: t('blog.title'),
      image_edit_url: edit_admin_site_setting_path(blog_head_setting) }

%br.pt-3

- @posts.active.each do |post|
  - admin_edit_area edit_path: edit_admin_blog_post_path(post) do
    %article.post.media.pb-5
      %figure.media-left.pt-1
        - if post.image.attached?
          = image_tag post.image.variant(resize_to_fill: [100, 80]).processed, class: (post.active?) ? '' : 'semi-transparent'
      .media-content
        %h2.title.is-4.mb-1
          = link_to post.title, post
        .date
          %i.is-size-7
            = l(post.published_at, format: :worded)
        = post.summary
        .read_more
          = link_to t('blog.post.read_more'), post
