-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title
  = t('blog.title')

- @posts.each do |post|
  .post.pb-5
    %h2.title.is-4.mb-1
      = link_to post.title, post
    .date
      %i.is-size-7
        = post.created_at
    - if post.image.attached?
      = image_tag post.image.variant(resize_to_fill: [100, 80]).processed, class: (post.active?) ? '' : 'semi-transparent'
    = post.summary
    .read_more
      = link_to t('blog.post.read_more'), post
