-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- content_for(:hero_head) do
  = render 'blog/posts/hero_head'

- admin_edit_area edit_path: edit_admin_blog_post_path(@post) do
  %h1.title
    = @post.title
  
  .meta-data
    - if @post.published_at.present?
      -# i18n-tasks-use t('time.formats.worded')
      = l(@post.published_at, format: :worded)
  
  .container.content
    != @post.content_rendered

%hr

.blog-navigation
  .level
    .level-left
      - previous_post = @post.previous
      - if previous_post.present?
        = link_to previous_post, class: 'level-item' do
          = t('blog.navigation.previous')

    .level-item
      = link_to blog_posts_path do
        = t('blog.navigation.index')

    .level-right
      - next_post = @post.next
      - if next_post.present?
        = link_to next_post do
          = t('blog.navigation.next')

