%table.table.is-fullwidth
  %thead
    %tr
      %th= t('Date_from')
      %th= t('Date_to')
      %th= t('Course')
      %th= t('Notice')
      %th= t('admin.appointment.info')
      %th= t('Link')
      %th
      %th
      %th

  %tbody
    - appointments.each do |appointment|
      %tr
        %td= appointment.date_from
        %td= appointment.date_to
        %td
          .tag.is-link
            = appointment.course.name
        %td= appointment.notice
        %td= appointment.link
        %td= appointment.info
        %td= link_to t('actions.show'), [:admin, appointment]
        %td= link_to t('actions.edit'), edit_admin_appointment_path(appointment)
        %td= link_to t('actions.Destroy'), [:admin, appointment], method: :delete, data: { confirm: 'Are you sure?' }

%br

