-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title
  = t('admin.appointment.title')

%p
  %b
    = t('appointment.date_from')
    \:
  = @appointment.date_from
%p
  %b=t('Date_to:')
  = @appointment.date_to
%p
  %b
    = t('Course')
    \:
  = @appointment.course.name
%p
  %b Notice:
  = @appointment.notice
%p
  %b Link:
  = @appointment.link

%section
  %h2.title.is-5
    = t('attendence')

= link_to t('Edit'), edit_admin_appointment_path(@appointment)
\|
= link_to t('Back'), admin_appointments_path
