-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= form_for [:admin, @style], builder: BulmaFormBuilder::FormBuilder do |f|
  - if @style.errors.any?
    #error_explanation
      %h2
        = t("errors.prohibited_from_saving", count: @style.errors.count)
      %ul
        - @style.errors.full_messages.each do |message|
          %li= message

  .field
    -# i18n-tasks-use t('activerecord.attributes.style.name')
    = f.label :name
    = f.text_field :name

  .field
    -# i18n-tasks-use t('activerecord.attributes.style.description')
    = f.label :description
    = f.text_field :description
  .columns
    .column
      .field
        -# i18n-tasks-use t('activerecord.attributes.style.image')
        = f.label :image
        = f.file_field :image, direct_upload: true
    - if @style.image.attached?
      .column
        %label.label
          = t('admin.forms.current_image')
        = image_tag preview_image_variant_url(@style.image)
        %hr
        = link_to @style.image.filename, rails_blob_path(@style.image, disposition: 'attachment')
  .field
    -# i18n-tasks-use t('activerecord.attributes.style.active')
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit t('actions.save'), class: 'button is-primary is-pulled-right'
