-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

:ruby
  admin_head_locals = {
    title: t('admin.styles.index.listing'),
    admin: {
      new: {
        url: new_admin_style_path,
        label: t('admin.styles.new')
      }
    }
  }

= render partial: 'admin_head_level', locals: admin_head_locals

%table.table.is-striped.is-fullwidth.is-hoverable
  %thead
    %tr
      %th= t('admin.courses.order')
      %th
      %th
      %th= t('admin.courses.name')
      %th= t('admin.courses.number_lessons')
      %th= t('admin.courses.number_courses')
      %th

  %tbody
    - first, last = @styles.first, @styles.last

    - @styles.each do |style|
      %tr
        %td.rank
          = style.row_order_rank
          - if style != first
            = link_to admin_style_position_path(style), method: :post do
              %span.icon.has-text-primary
                %i.fas.fa-arrow-up.is-small
          - else
            %span.icon.has-text-primary
              %i.fas.fa-empty.is-small
          - if style != last
            = link_to admin_style_position_path(style), method: :delete do
              %span.icon.has-text-primary
                %i.fas.fa-arrow-down
          - else
            %span.icon.has-text-primary
              %i.fas.fa-empty.is-small
        %td
          - if !style.active?
            %span.icon.has-text-danger
              %i.fas.fa-eye-slash
        %td
          - if style.image.attached?
            -# darken out if inactive?
            = image_tag style.image.variant(resize_to_fill: [180,120]).processed,
              class: (style.active?) ? '' : 'semi-transparent'
          - else
            &nbsp;

        %td.name
          .subtitle
            = style.name
        %td
          = style.lessons.length
        %td
          = style.courses.active.length
        %td
          .buttons
            = link_to t('actions.show'), style, class: 'button is-small'
            = link_to t('actions.edit'), edit_admin_style_path(style), class: 'button is-small'
            - if !style.active?
              = link_to t('actions.Destroy'), [:admin, style], method: :delete,
                data: { confirm: t('actions.are_you_sure?') },
                class: 'button is-small is-danger'

            = link_to t('admin.styles.new-video'),
              new_admin_style_lesson_path(style), class: 'button is-small'
%br

= link_to t('admin.styles.new'), new_admin_style_path, class: 'button is-link is-outlined'
