-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= form_for [:admin, @subscription.user, @subscription], builder: BulmaFormBuilder::FormBuilder do |f|
  - if @subscription.errors.any?
    #error_explanation
      %h2
        = t("errors.prohibited_from_saving", count: @subscription.errors.count)
      %ul
        - @subscription.errors.full_messages.each do |message|
          %li= message

  -#.field
  -#  = f.label :user
  -#  = f.text_field :user
  .field
    = f.label :date_start
    = f.datetime_select :date_start
  .field
    = f.label :date_end
    = f.datetime_select :date_end
  .field
    = f.label :notes
    = f.text_area :notes
  .actions
    = f.submit 'Save', class: 'button is-link'
