%p#notice= notice

%p
  %b User:
  = @admin_subscription.user
%p
  %b Date start:
  = @admin_subscription.date_start
%p
  %b Date end:
  = @admin_subscription.date_end
%p
  %b Notes:
  = @admin_subscription.notes

= link_to 'Edit', edit_admin_subscription_path(@admin_subscription)
\|
= link_to 'Back', admin_subscriptions_path
