-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= form_for [:admin, @post], builder: BulmaFormBuilder::FormBuilder do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = t("errors.prohibited_from_saving", count: @post.errors.count)
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :summary
    = f.text_area :summary
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :image
    = f.file_field :image
  .field
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit 'Save', class: 'button'
