-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= form_for [:admin, @post], builder: BulmaFormBuilder::FormBuilder do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = t("errors.prohibited_from_saving", count: @post.errors.count)
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :summary
    = f.text_area :summary
  .field
    .columns{data: { controller: 'render_md_preview reveal',
      reveal: { shown: "true" } } }
      .column
        = f.label :content
        %button{ data: { action: 'render_md_preview#render reveal#reveal' },
          class: 'button' }
          = t('actions.preview')
        = f.text_area :content, rows: 15, data: { target: 'render_md_preview.source' }
      .column
        .label
          = t('actions.preview')
        %button{ data: { action: 'reveal#hide' }, class: 'button' }
          = t('actions.hide')
        %button{ data: { action: 'render_md_preview#render' }, class: 'button' }
          = t('actions.refresh')
        .content
          #preview{data: {target: 'render_md_preview.result'}}
            != @post.content_rendered
  .field
    = f.label :image
    = f.file_field :image
  .field
    = f.label :published_at
    = f.datetime_select :published_at, { minute_step: 5, include_blank: true }
  .field
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit t('actions.Save'), class: 'button is-primary is-pulled-right'
