-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

:ruby
  admin_head_locals = {
    title: t('Listing Blog Posts'),
    admin: {
      new: {
        url: new_admin_blog_post_path,
        label: t('admin.blog.post.new')
      }
    }
  }

= render partial: 'admin_head_level', locals: admin_head_locals

- if @pagy.pages > 1
  = t('pagy.showing_from_to_total',
    from: @pagy.from,
    to: @pagy.to,
    total: @pagy.count,
    item_name: t('emails'))
  != pagy_bulma_nav(@pagy)


%table.table.is-striped.is-fullwidth.is-hoverable
  %thead
    %tr
      %th= t('admin.blog.post.image')
      %th= t('admin.blog.post.title')
      %th= t('admin.blog.post.content')
      %th= t('admin.blog.post.published_at')
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td.post-image
          - if post.image.attached?
            = image_tag post.image.variant(resize_to_fill: [100, 80]).processed, class: (post.active?) ? '' : 'semi-transparent'
        %td.post-title
          = post.title
        %td.post-content
          = post.content
        %td.post-published
          - if !post.active?
            %span.icon.has-text-danger
              %i.fas.fa-eye-slash
          - if post.published_at.present?
            = l(post.published_at)
        %td.post-actions
          .buttons
            = link_to t('Show'), post, class: 'button is-small'
            = link_to t('Edit'), edit_admin_blog_post_path(post), class: 'button is-small'
            = link_to t('Destroy'), [:admin, post], method: :delete, data: { confirm: t('Are you sure?') }, class: 'button is-small is-danger'

%br

= link_to t('admin.blog.post.new'), new_admin_blog_post_path, class: 'button is-link is-outlined'
