-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- @places.each do |place|
  - if place.courses.active.any?
    .place-courses.mb-6
      .place
        %h4.title.is-5
          = place.name
          %small
            = place.note
      .place-address.mb-3
        %i
          = place.building_name
          = place.address
      .courses
        %table
          - place.courses.active.each do |course|
            %tr.course
              %td.weekday
                - if day = course.dayofweek
                  = I18n.t(:"date.day_names")[day]

              %td.time
                - if course.start_time
                  = l(course.start_time,
                    format: '%H:%m')
                = "-"
                - if course.end_time
                  = l(course.end_time,
                    format: '%M:%m')
              %td.style
                = link_to course.style do
                  = course.style.name
        = place.pricing_note

