-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%ul.button-list.is-vcentered.is-centered
  %li.nav-button
    = link_to "#courses", data: { turbolinks: false } do
      %circlebutton
        %figure
          = image_tag 'kurse.png'
        .button-tag-text
          = t('navigation.courses')
  %li.nav-button
    = link_to '#videos', data: { turbolinks: false } do
      %circlebutton
        %figure
          = image_tag 'videos.png'
        .button-tag-text
          = t('navigation.videos')
  %li.nav-button
    = link_to '#videos', data: { turbolinks: false } do
      %circlebutton
        %figure
          = image_tag 'programme.png'
        .button-tag-text
          = t('navigation.programs')
  %li.nav-button
    = link_to '#videos', data: { turbolinks: false } do
      %circlebutton
        %figure
          = image_tag 'seminare.png'
        .button-tag-text
          = t('navigation.seminars')
  %li.nav-button
    = link_to blog_posts_path, data: { turbolinks: false } do
      %circlebutton
        %figure
          = image_tag 'blog.png'
        .button-tag-text
          = t('navigation.blog')
  %li.nav-button
    = link_to '#contact', data: { turbolinks: false } do
      %circlebutton
        %figure
          = image_tag 'kontakt.png'
        .button-tag-text
          = t('navigation.contact')

