-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

.columns.is-vcentered.is-centered#buttonbar
  .column
  .column.is-1
    .box.has-background-grey-lighter.has-text-centered(style="border-radius: 50%")
      %figure.has-backround-primary
        = image_tag 'kurse.jpg', class: 'round'
        .button-tag-text(style="margin-top: -20%;")
      = link_to '#styles', class: '' do
        = t('navigation.courses')
      %br
  .column.is-1
    .box.has-background-grey-lighter.has-text-centered(style="border-radius: 50%")
      %figure.has-backround-primary
        = image_tag 'kurse.jpg', class: 'round'
        .button-tag-text(style="margin-top: -20%;")
      = link_to '#videos', class: '' do
        = t('navigation.videos')
  .column.is-1
    .box.has-background-grey-lighter.has-text-centered(style="border-radius: 50%")
      %figure.has-backround-primary
        = image_tag 'kurse.jpg', class: 'round'
        .button-tag-text(style="margin-top: -20%;")
      = link_to '#videos', class: '' do
        = t('navigation.programs')
  .column.is-1
    .box.has-background-grey-lighter.has-text-centered(style="border-radius: 50%")
      %figure.has-backround-primary
        = image_tag 'kurse.jpg', class: 'round'
        .button-tag-text(style="margin-top: -20%;")
      = link_to '#videos', class: '' do
        = t('navigation.seminars')
  .column.is-1
    .box.has-background-grey-lighter.has-text-centered(style="border-radius: 50%")
      %figure.has-backround-primary
        = image_tag 'kurse.jpg', class: 'round'
        .button-tag-text(style="margin-top: -20%;")
      = link_to '#videos', class: '' do
        = t('navigation.blog')
  .column.is-1
    .box.has-background-grey-lighter.has-text-centered(style="border-radius: 50%")
      %figure.has-backround-primary
        = image_tag 'kurse.jpg', class: 'round'
        .button-tag-text(style="margin-top: -20%;")
      = link_to '#videos', class: '' do
        = t('navigation.contact')
  .column

