-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

.container
  -#.doodle.has-text-centered.pt-6.mb-6
  -#  = image_tag 'kontakt.png', class: 'round'
  -#  %h2.title.is-3.pt-3.has-text-white
  -#    = t('home.contact.title')
  .doodle-head-wrap.pt-6.mb-6
    .doodle-head.has-background-verycleargrey
      .inside
        = image_tag 'kontakt.png'
        %h2.title.is-3.pt-3
          = t('home.contact.title')

.container.pt-5
  %h3.title.is-3.mb-6.has-text-weight-bold.has-text-white.has-text-centered
    = t('home.contact.about_us')
  .columns.is-5.is-variable
    .column.has-text-white.pr-4
      - admin_edit_area edit_path: edit_admin_site_setting_path(SiteSettings.fetch('about_us_left')),
        back_anchor: 'contact' do
        != SiteSetting['about_us_left']
    .column.has-text-white.pl-4
      - admin_edit_area edit_path: edit_admin_site_setting_path(SiteSettings.fetch('about_us_right')),
        back_anchor: 'contact' do
        != SiteSetting['about_us_right']

%a.anchor-offset(name='contact-form')
.container.has-text-centered.has-text-white.mt-6.pt-2
  %h2.title.is-3.pt-3.has-text-white.my-6
    = t('home.contact.send-a-message')

.container.mt-4
  = render partial: 'contacts/form'
