-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

.container
  .doodle-head-wrap.pt-3
    .doodle-head.has-background-white
      .inside
        = image_tag 'kurse.png'
        %h2.title.is-3.pt-3.button-tag-text
          = t('home.courses.courses-title')

  #course_by_style.has-text-centered.pt-4.mt-6
    - @styles.which_has_courses.to_a.each_slice(3) do |styles|
      .columns.is-multiline.is-vcentered.is-centered.is-variable.is-8
        - styles.each do |style|
          .column.is-3.style-column{id: dom_id(style)}
            - admin_edit_area edit_path: edit_admin_style_path(style) do
              = link_to style do
                .box.pt-0.px-0.course-box
                  - if style.image.attached?
                    = image_tag style.image.variant(resize_to_fill: [354,200]).processed
                  - else
                    = image_tag 'blog.png', class: 'round'
                  .px-5
                    %b
                      = style.name
                    %br
                    %small
                      = style.description

  #all_courses.has-text-centered.mt-6.pt-6
    %h3.title.is-3.mb-6.has-text-weight-bold
      = t('home.courses.all-courses-title')
  #all_courses_details
    = render partial: 'pages/home/courses/all_courses'

