-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

.container
  .doodle.has-text-centered.pt-6.mb-6
    = image_tag 'videos.png', class: 'round'
    %h2.title.is-3.pt-3
      = t('home.videos.title')
    .subtitle
      = t('home.videos.subtitle')

  -#%strong
  -#  = t('home.video_explanation1')
  -#= t('home.video_explanation2')
  = render partial: 'pages/home/login_row'

  -#= admin_edit_button edit_admin_style_path(style)

  #video-styles.mt-6.pt-6
    - @styles.which_has_videos.each do |style|
      %div.pb-4{id: dom_id(style)}
        = render partial: 'pages/home/videos/row', locals: { style: style }
    - if @styles.empty?
      = t('home.courses.none_yet')

