-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title
  = t('privacy_statement')
.container.mb-5
  .content.is-medium.has-text-justified
    != SiteSetting['privacy_statement']

%h1.title
  = t('pages.terms.title')
.container.mb-5
  .content.is-medium.has-text-justified
    != SiteSetting['terms']

.columns
  .column.is-half
    %h2.title
      = t('.acceptance')
    = form_with url: terms_acceptance_path, builder: BulmaFormBuilder::FormBuilder do |f|
      .field
        = f.check_box :accept_terms
        = label_tag :accept_terms, t('activerecord.attributes.user.tos_agreement')
      .field
        = f.check_box :read_privacy_terms
        = label_tag :read_privacy_terms, t('activerecord.attributes.user.read_privacy_terms')
      .actions
        = f.submit t('actions.Save'), class: 'button is-primary'
  .column.is-half
    %h2.title
      = t('.actions')
    .block
      = t('.not-happy?')
