-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= form_for [:admin, @place], builder: BulmaFormBuilder::FormBuilder do |f|
  - if @place.errors.any?
    #error_explanation
      %h2
        = t("errors.prohibited_from_saving", count: @place.errors.count)
      %ul
        - @place.errors.full_messages.each do |message|
          %li= message

  = hidden_field_tag 'back_path', params[:back_path]

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :building_name
    = f.text_field :building_name
  .field
    = f.label :note
    = f.text_field :note
  .field
    = f.label :pricing_note
    = f.text_field :pricing_note
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit t('actions.save'), class: 'button is-primary is-pulled-right'
