%table.table.is-fullwidth
  %thead
    %tr
      %th= t('Name')
      %th= t('Building Name')
      %th= t('Note')
      %th= t('PricingNote')
      %th= t('Address')
      %th
      %th
      %th

  %tbody
    - places.each do |place|
      %tr
        %td= place.name
        %td= place.building_name
        %td= place.note
        %td= place.pricing_note
        %td= place.address
        %td= link_to t('Show'), [:admin, place]
        %td= link_to t('Edit'), edit_admin_place_path(place)
        %td= link_to t('Destroy'), [:admin, place], method: :delete, data: { confirm: 'Are you sure?' }

%br

