-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%table.table.is-fullwidth
  %thead
    %tr
      %th= Place.human_attribute_name :name
      %th= Place.human_attribute_name :building_name
      %th= Place.human_attribute_name :note
      %th= Place.human_attribute_name :pricing_note
      %th= Place.human_attribute_name :address
      %th
      %th
      %th

  %tbody
    - places.each do |place|
      %tr
        %td= place.name
        %td= place.building_name
        %td= place.note
        %td= place.pricing_note
        %td= place.address
        %td= link_to t('actions.show'), [:admin, place]
        %td= link_to t('actions.edit'), edit_admin_place_path(place)
        %td= link_to t('actions.Destroy'), [:admin, place], method: :delete, data: { confirm: t('actions.are_you_sure?') }

%br

