-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title
  = t('admin.place.title')

%p
  %b
    -# i18n-tasks-use t('activerecord.attributes.place.name')
    = Place.human_attribute_name :name
    \:
  = @place.name
%p
  -# i18n-tasks-use t('activerecord.attributes.place.building_name')
  %b= Place.human_attribute_name :building_name
  = @place.building_name
%p
  -# i18n-tasks-use t('activerecord.attributes.place.note')
  %b= Place.human_attribute_name :note
  = @place.note

= link_to t('admin.places.add_course'), new_admin_course_path(params: {course: { place_id: @place.id}})

= link_to t('actions.edit'), edit_admin_place_path(@place)
\|
= link_to t('actions.Back'), admin_places_path
