%h1.title
  =t('Listing lessons')

%table.table.is-fullwidth.is-hoverable
  %thead
    %tr
      %th= t('Course')
      %th= t('Date start')
      %th= t('Date end')
      %th
      %th
      %th
      %th

  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.style.name
        %td= lesson.date_start
        %td= lesson.date_end
        %td
          - if !lesson.active?
            %span.tag.is-danger
              = t('lesson.inactive')
        %td
          .buttons
            = link_to t('Show'), [:admin, lesson.style, lesson]
        %td
          = link_to t('Edit'), edit_admin_style_lesson_path(lesson.style, lesson)
        %td
          = link_to t('Destroy'), [:admin, lesson.style, lesson], method: :delete, data: { confirm: t('are_you_sure?') }

%br

= link_to t('lesson.new'), new_admin_style_lesson_path, class: 'button'
