.card
  .card-image
    - if access_level == :trial || access_level == :full || access_level == :admin
      %video(controls="true" poster="#{url_for lesson.preview_image.variant(resize_to_fill: [320,180]).processed}" id="vs-#{lesson.id}" width="100%" preload="metadata")
        %source{src: rails_blob_url(lesson.video), type:"video/mp4"}
        = t('no-video-support')
      -#:javascript
      -#  // set poster (url)
      -#  // bitplaybutton?
      -#  var player=videojs("vs-#{lesson.id}", {"preload": false});
      -#, "poster": "#{rails_blob_url(lesson.preview_image)}", "width": 240});
      -#= videojs_rails sources: { mp4: rails_blob_url(lesson.video)}, setup: "{}", controls: true, width:"100%"
      -#= image_tag lesson.video.preview(resize_to_fit: [100, 100])
    - else
      %figure.image.has-text-centered.is-vcentered
        = image_tag lesson.preview_image.variant(resize_to_fill: [320,240]).processed,
          alt: t('video.image_alt', video: t('lesson.show.video'), video_title: lesson.name)
        - if user_signed_in?
          = link_to explanation_path, class: 'is-overlay has-text-centered is-vcentered columns is-flex' do
            %span.icon.has-text-primary.is-large.has-text-centered.auto-margin
              %i.far.fa-play-circle.fa-3x
        - else
          = link_to new_user_registration_path, class: 'is-overlay has-text-centered is-vcentered columns is-flex' do
            %span.icon.has-text-primary.is-large.has-text-centered.auto-margin
              %i.far.fa-play-circle.fa-3x
  %header.card-header
    %p.card-header-title.is-centered.has-background-white-ter
      = lesson.name
  .card-content
    - if lesson.video.attached? && lesson.video.metadata[:duration]
      = t('video.length')
      \:
      = (lesson.video.metadata[:duration] / 60).round
      =t('video.minutes')

  - if user_admin?
    %footer.card-footer
      = link_to [:admin, lesson.style, lesson], class: 'card-footer-item is-link' do
        %span.icon.has-text-link
          %i.fas.fa-user-shield
        %span
          = t('video.edit')


