.card
  .card-image.no-vid
    %figure.image.has-text-centered.is-vcentered.has-background-grey-lighter
      %span.icon.has-text-primary.is-large.has-text-centered.auto-margin
        %i.far.fa-play-circle.fa-3x

      - if access_level == :admin || access_level == :full
        = link_to course_path(course), class: 'is-overlay has-text-centered is-vcentered'  do
          = ""
        .title.is-4(style="padding: 1.5em;")
          = t('course.videos.see_more', number_more: course.lessons.active.count - 3)
      - elsif access_level == :trial
        = link_to explanation_path, class: 'is-overlay has-text-centered is-vcentered'  do
          = ""
        .title.is-4(style="padding: 1.5em;")
          = t('course.with_subscription_you_can_see_more', number_more: course.lessons.active.count - 3)
      - else
        = link_to new_user_registration_path, class: 'is-overlay has-text-centered is-vcentered'  do
          = ""
        .title.is-4(style="padding: 1.5em;")
          = t('course.with_subscription_you_can_see_more', number_more: course.lessons.active.count - 3)
  %header.card-header
    %p.card-header-title.is-centered.has-background-white-ter
      = course.name
  .card-content
    = t('course.total_videos', number_videos: course.lessons.active.count)
  - if user_admin?
    %footer.card-footer
      = link_to [:admin, course], class: 'card-footer-item is-link' do
        %span.icon.has-text-link
          %i.fas.fa-user-shield
        %span
          = t('video.edit')
