- if Appointment.future.present?
  %table.table.is-fullwidth.is-striped
    %thead
      %tr
        %th(colspan=2)
          = t('appointment.timespan')
        %th(colspan=1)
          = t('appointment.course')
        %th(colspan=1)
        %th(colspan=1)
          = t('appointment.zoom-link')
    %tbody
      - Appointment.future.order(date_from: :asc).each do |appointment|
        %tr
          %td
            %b
              = l(appointment.date_from, format: '%A')
            = I18n.l appointment.date_from, format: :short
            = t('apointments.time.till')
            = appointment.date_to.strftime('%H:%M')
          %td
            (#{t('in')} #{distance_of_time_in_words_to_now appointment.date_from})
            -#= time_ago_in_words appointment.date_from
          %td
            .tag.is-link
              = appointment.course.name
          %td
            = appointment.notice
          %td
            - if user_signed_in?
              = link_to appointment.link, appointment.link
            - else
              = t('appointments.visible_after_login')
              = link_to t('register_or_sign_in'), new_user_session_path, class: 'button is-link is-outlined is-small'
      - if user_admin?
        %tr
          %td(colspan=3)
            = link_to t('home.appointment.new'), new_admin_appointment_path, class: 'button is-link'
- else
  = t('appointments.none_in_future')
  - if user_admin?
    %table.table.is-fullwidth
      %tr
        %td(colspan=3)
          = link_to t('home.appointment.new'), new_admin_appointment_path, class: 'button is-link'

