-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%table.table.is-striped.is-fullwidth
  %thead
    %tr
      %th
      %th
        = t('activerecord.attributes.asana.sanskrit_asana_names.name')
      %th
        = t('activerecord.attributes.asana.german_asana_names.name')
      %th
        = t('activerecord.attributes.asana.english_asana_names.name')
      %th
  %tbody
    - family.asanas.each do |asana|
      %tr
        %td
          - if asana.image.attached?
            = image_tag preview_image_variant_url(asana.image)
        %td
          -#- asana.asana_names.in_sanskrit.each do |name|
          - asana.sanskrit_asana_names.each do |name|
            .asana-name
              - if name.main
                .has-text-weight-bold
                  = name.name
              - else
                .is-italic
                  = name.name
        %td
          -#- asana.asana_names.in_de.each do |name|
          - asana.german_asana_names.each do |name|
            .asana-name
              - if name.main
                .has-text-weight-bold
                  = name.name
              - else
                .is-italic
                  = name.name
        %td
          -#- asana.asana_names.in_en.each do |name|
          - asana.english_asana_names.each do |name|
            .asana-name
              - if name.main
                .has-text-weight-bold
                  = name.name
              - else
                .is-italic
                  = name.name
        %td
          - if user_signed_in? && current_user.admin?
            = admin_edit_button edit_admin_asana_path(asana)

