-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%a.anchor-offset(name="course#{style.id}")
.box.flame-box
  .level
    .level-item
      = link_to style do
        %h3.title.is-4.has-text-primary
          = style.name
    - if style.appointments.future.any?
      .level-right
        .has-text-light
          = t('course.next_appointment')
          = l style.appointments.future.first.date_from
    - if user_admin?
      .level-item-right.buttons
        .button.is-light.is-outlined
          %span.icon
            %i.fas.fa-user-shield
        = link_to admin_style_position_path(style), method: :post, class: 'button is-light is-outlined' do
          -#t('course_row.course.move-up')
          %span.icon.is-small
            %i.fas.fa-arrow-up
        = link_to admin_style_position_path(style), method: :delete, class: 'button is-light is-outlined' do
          -# t('course_row.course.move-down')
          %span.icon.is-small
            %i.fas.fa-arrow-down
        = link_to new_admin_style_lesson_path(style), class: 'button is-light is-outlined' do
          %span.icon.is-small
            %i.fab.fa-youtube
          %span
            = t('course_row.course.add-video')
        = link_to t('edit'), edit_admin_style_path(style), class: 'button is-light is-outlined'

.columns.is-multiline
  - access_level = AccessState.new(current_user).level

  - style.lessons.active.rank(:row_order).first(3).each_with_index do |lesson, idx|
    .column.is-3
      = render partial: 'shared/video_card', locals: { lesson: lesson, access_level: access_level }
  - if style.lessons.active.rank(:row_order).count > 3
    .column.is-3
      = render partial: 'shared/video_more_than', locals: { style: style, access_level: access_level }
