%a(name="course#{course.id}")
.box.coursebox
  .level
    .level-item
      = link_to course do
        %h3.title.is-4.has-text-primary
          = course.name
    - if user_admin?
      .level-item-right.buttons
        .button.is-light.is-outlined
          %span.icon
            %i.fas.fa-user-shield
        = link_to admin_course_position_path(course), method: :post, class: 'button is-light is-outlined' do
          -#t('course_row.course.move-up')
          %span.icon.is-small
            %i.fas.fa-arrow-up
        = link_to admin_course_position_path(course), method: :delete, class: 'button is-light is-outlined' do
          -# t('course_row.course.move-down')
          %span.icon.is-small
            %i.fas.fa-arrow-down
        = link_to new_admin_course_lesson_path(course), class: 'button is-light is-outlined' do
          %span.icon.is-small
            %i.fab.fa-youtube
          %span
            = t('course_row.course.add-video')
        = link_to t('edit'), edit_admin_course_path(course), class: 'button is-light is-outlined'
.columns.is-multiline
  - course.lessons.active.each do |lesson|
    .column.is-3
      = render partial: 'shared/video_card', locals: { lesson: lesson }
