-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- set_title(@html_title)

- header_image_setting = SiteSettings.fetch('asana_lexicon_header_image')

- content_for(:hero_head) do
  = render partial: 'shared/hero_head_image_title',
    locals: { image_url: header_image_variant_url(header_image_setting&.image),
      title: t('navigation.asana-lexicon'),
      image_edit_url: edit_admin_site_setting_path(header_image_setting) }

.container
  .content.is-medium
    - admin_edit_area(edit_path: admin_asanas_path) do
      %table.table.is-striped.is-fullwidth
        %thead
          %tr
            %th
              = t('activerecord.attributes.asana.asana_family')
            %th
              = t('activerecord.attributes.asana.german_asana_names.name')
            %th
              = t('activerecord.attributes.asana.english_asana_names.name')
            %th
              = t('activerecord.attributes.asana.sanskrit_asana_names.name')
            %th
        %tbody
          - @asanas.each do |asana|
            %tr
              %td
                - asana.asana_families.each do |family|
                  .asana-family
                    = family.name
              %td
                - asana.german_asana_names.each do |name|
                  .asana-name
                    - if name.main
                      .has-text-weight-bold
                        = name.name
                    - else
                      .is-italic
                        = name.name
              %td
                - asana.english_asana_names.each do |name|
                  .asana-name
                    - if name.main
                      .has-text-weight-bold
                        = name.name
                    - else
                      .is-italic
                        = name.name
              %td
                - asana.sanskrit_asana_names.each do |name|
                  .asana-name
                    - if name.main
                      .has-text-weight-bold
                        = name.name
                    - else
                      .is-italic
                        = name.name
              %td
                - if user_signed_in? && current_user.admin?
                  = admin_edit_button edit_admin_asana_path(asana)

