
- bg_image = SiteSetting.find_by(key: 'intro_background')&.image
- if bg_image.attached?
  - bg_image_url = url_for SiteSetting.find_by(key: 'intro_background')&.image&.variant(resize_to_limit: [1024,720])
- else
  - bg_image_url = ''

.columns.intro-block(style="background-image: url(#{bg_image_url})")
  .column.is-half
    .intro
      %h1.title.is-1.has-text-centered
        = t('home.welcome')
      .content.is-large
        != SiteSetting['intro']
        - if user_admin?
          = link_to t('sitesetting.edit'), edit_admin_site_setting_path(SiteSetting.find_by(key: 'intro')), class: 'button'
      = link_to t('home.intro.learn_more'), explanation_path

%br

.columns
  .column.is-5.has-text-centered
    .box.has-background-grey-lighter
      %h2.subtitle.is-4.has-text-primary
        = t('home.trial-period')
      .has-text-justified
        != SiteSetting['trial_period_cta']
        - if user_admin?
          = link_to t('sitesetting.edit'), edit_admin_site_setting_path(SiteSetting.find_by(key: 'trial_period_cta')), class: 'button'
      .has-text-centered.is-vcentered
        .button
          = t('home.register-for-trial-period')
  .column.is-2
  .column.is-5.has-text-centered
    .box.has-background-grey-lighter
      %h2.subtitle.is-4.has-text-primary
        = t('home.already-registered?')
      .has-text-justified
        != SiteSetting['register_cta']
        - if user_admin?
          = link_to t('sitesetting.edit'), edit_admin_site_setting_path(SiteSetting.find_by(key: 'register_cta')), class: 'button'
      .has-text-centered.is-vcentered
        .button
          = t('home.sign-in-with-account')

%br
%br

%section#next_appointments
  %h2.title.is-2
    = t('home.next_appointments')
  = render partial: 'appointments', locals: { appointments: Appointment.future }

%br
%br

%section.courses-links
  %h2.title.is-2
    = t('home.courses.courses-title')
%hr
.columns.is-multiline.is-vcentered
  - @courses.each do |course|
    .column.is-2
      = link_to "#course#{course.id}", class: 'button is-primary is-normal' do
        %b= course.name
  - if @courses.empty?
    .column.is-2
      = t('home.courses.none_yet')
  - if user_admin?
    .column.is-2
      = link_to t('home.courses.new'), new_admin_course_path, class: 'button is-primary'

%br
%br
%section.videos
  %h2.title.is-2
    = t('home.videos')
%hr.has-text-primary.hr.is-divider
- @courses.each do |course|
  = render partial: 'course_video_row', locals: { course: course }
- if @courses.empty?
  = t('home.courses.none_yet')

