-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- content_for(:hero_head) do
  = render 'pages/home/hero_head'

%section#buttonbar.my-5.py-5
  = render 'pages/home/buttonbar'

%section#news.mt-4.pt-5.mb-4.pb-2
  %h2.title.is-3.is-inline-block
    = t('home.news')
  = t('home.no_appointments')

%section.py-5#courses.has-background-verycleargrey.pb-6
  = render partial: 'pages/home/courses'


%br
%br

%section.courses-links
  %h2.title.is-2
    = t('home.courses.courses-title')
%hr
.columns.is-multiline.is-vcentered
  - @styles.each do |style|
    .column.is-2
      = link_to "#course#{style.id}", class: 'button is-primary is-normal' do
        %b= style.name
  - if @styles.empty?
    .column.is-2
      = t('home.courses.none_yet')
  - if user_admin?
    .column.is-2
      = link_to new_admin_style_path, class: 'button is-primary is-outlined' do
        %span.icon
          %i.fas.fa-user-shield
        %span
          = t('home.courses.new')

%br
%br
%a.anchor-offset(name='videos')
%section.videos#videos
  = render partial: 'pages/home/videos'

%hr.has-text-primary.hr.is-divider
- @styles.each do |style|
  = render partial: 'course_video_row', locals: { style: style }
- if @styles.empty?
  = t('home.courses.none_yet')

