-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- content_for(:hero_head) do
  = render 'pages/home/hero_head'

%section#buttonbar.my-5.py-5
  = render 'pages/home/buttonbar'

%section#news.mt-4.pt-5.mb-4.pb-2
  %h2.title.is-3.is-inline-block
    = t('home.news')
  .subtitle.is-inline-block
    - news_setting = SiteSetting.find_by(key: 'news_line')
    - if news_setting.present?
      = admin_edit_button edit_admin_site_setting_path(news_setting)
      = news_setting.value

- last_post = Blog::Post.last_within days: 100
- if last_post.present?
  %section#latest-blog.mt-4.pt-5.mb-4.pb-2
    %h2.title.is-3.is-inline-block
      = t('home.latest-blog-post')
    .subtitle.is-inline-block
      = link_to last_post.title, last_post
      (#{l(last_post.published_at.to_date)})

%section#courses.py-5.has-background-verycleargrey.pb-6
  = render partial: 'pages/home/courses'

%a.anchor-offset(name='videos')
%section.videos#videos
  = render partial: 'pages/home/videos'

-#- @styles.each do |style|
-#  = render partial: 'course_video_row', locals: { style: style }
-#- if @styles.empty?
-#  = t('home.courses.none_yet')


-#- if !user_signed_in? || user_admin?
-#  = render partial: 'ctas'
-#- else
-#  = render partial: 'subscription_state'
-#  %br
-#  %br
-#

%a.anchor-offset(name='contact')
%section#contact.py-5.darkgrey_fullwidth.pb-6
  = render partial: 'pages/home/contact'

  .container.pt-5
    .columns.is-5.is-variable
      .column.has-text-white.pr-4
        != SiteSetting['about_us_left']
      .column.has-text-white.pl-4
        != SiteSetting['about_us_right']

  .container.has-text-centered.has-text-white.mt-6.pt-2
    %h2.title.is-3.pt-3.has-text-white.my-6
      = t('home.contact.send-a-message')

  .container.mt-4
    = render partial: 'contacts/form'
