%h1.title.is-1.has-text-centered
  = t('welcome')

.columns
  .column.is-two-third
    %h2.subtitle
      = t('intro')
      = SiteSetting['intro']
      = link_to t('learn_more'), root_path
%section#next_appointments
  %h2.title.is-4
    = t('next_appointments')
  = render 'appointments'
  - if user_admin?
    = link_to ('new_appointment'), new_admin_appointment_path, class: 'button is-link'

