- bg_image = SiteSetting.find_by(key: 'intro_background')&.image
- if bg_image&.attached?
  - bg_image_url = url_for SiteSetting.find_by(key: 'intro_background')&.image&.variant(resize_to_limit: [1024,720])
- else
  - bg_image_url = ''

.columns.intro-block(style="background-image: url(#{bg_image_url})")
  .column.is-half
    .intro
      %h1.title.is-1.has-text-centered
        = t('home.welcome')
      .content.is-large
        != SiteSetting['intro']
        - if user_admin?
          = link_to edit_admin_site_setting_path(SiteSetting.find_by(key: 'intro')), class: 'button' do
            %span.icon
              %i.fas.fa-user-shield
            %span
              = t('sitesetting.edit')
      = link_to t('home.intro.learn_more'), explanation_path

%br

- if !user_signed_in? || user_admin?
  = render partial: 'ctas'
- else
  = render partial: 'subscription_state'
  %br
  %br

%section#news
  %h2.title.is-3
    = t('home.news')
  = t(' news text')
  .has-text-centered.is-size-4
    = t('home.no_appointments')

%br
%br

%section#courses.has-background-grey-lighter
  .container
    .doodle.has-text-centered
      TODO doodle
      %h2.title.is-3
        = t('home.courses.courses-title')
      .subtitle
        = t('home.courses.subtitle')

    #course_by_place.has-text-centered
      %h3.title.is-4
        = t('home.courses.choose_by_place')
      .columns.is-multiline.is-vcentered.is-centered
        - @places.each do |place|
          .column.is-2
            .box
              = place.name
    #course_by_style.has-text-centered
      %h3.title.is-4
        = t('home.courses.or_choose_by_style')
      .columns.is-multiline.is-vcentered.is-centered
        - @styles.each do |style|
          .column.is-2
            .box
              = style.name
    #all_courses.has-text-centered
      %h2.title.is-4
        = t('home.courses.all-courses-title')
      .subtitle.is-4
        = t('home.courses.all-courses-subtitle')
%section#next_appointments
  - if Appointment.future.present?
    %h2.title.is-2
      = t('home.next_appointments')
    = render partial: 'appointments', locals: { appointments: Appointment.future }
  - else
    %br
    %br
    .has-text-centered.is-size-4
      = t('home.no_appointments')

%br
%br

%section.courses-links
  %h2.title.is-2
    = t('home.courses.courses-title')
%hr
.columns.is-multiline.is-vcentered
  - @styles.each do |style|
    .column.is-2
      = link_to "#course#{style.id}", class: 'button is-primary is-normal' do
        %b= style.name
  - if @styles.empty?
    .column.is-2
      = t('home.courses.none_yet')
  - if user_admin?
    .column.is-2
      = link_to new_admin_style_path, class: 'button is-primary is-outlined' do
        %span.icon
          %i.fas.fa-user-shield
        %span
          = t('home.courses.new')

%br
%br
%a.anchor-offset(name='videos')
%section.videos
  %h2.title.is-2
    = t('home.videos')
%hr.has-text-primary.hr.is-divider
- @styles.each do |style|
  = render partial: 'course_video_row', locals: { style: style }
- if @styles.empty?
  = t('home.courses.none_yet')

