-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- intro_background_setting = SiteSettings.fetch('intro_background')
- intro_text_setting       = SiteSettings.fetch('intro')

- content_for(:hero_head) do
  = render partial: 'shared/hero_head_image_title',
    locals: { image_url: header_image_variant_url(intro_background_setting&.image),
      title: intro_text_setting&.value_rendered,
      title_edit_url: edit_admin_site_setting_path(intro_text_setting),
      image_edit_url: edit_admin_site_setting_path(intro_background_setting) }

%section#buttonbar.my-5.py-5
  = render 'pages/home/buttonbar'

%section#news.mt-4.pt-5.mb-4.pb-2
  - news_setting = SiteSetting.find_by(key: 'news_line')
  - admin_edit_area(edit_path: edit_admin_site_setting_path(id: news_setting&.id)) do
    %h2.title.is-3.is-inline-block
      = t('home.news')
    .subtitle.is-inline-block
      - if news_setting.present?
        = news_setting.value

- last_post = Blog::Post.last_within days: 100
- if last_post.present?
  %section#latest-blog.mt-4.pt-5.mb-4.pb-2
    - admin_edit_area(edit_path: admin_blog_posts_path) do
      %h2.title.is-3.is-inline-block
        = t('home.latest-blog-post')
      .subtitle.is-inline-block
        = link_to last_post.title, last_post
        (#{l(last_post.published_at.to_date)})

%section#courses.py-5.has-background-verycleargrey.pb-6
  = render partial: 'pages/home/courses'

%a.anchor-offset(name='videos')
%section.videos#videos
  = render partial: 'pages/home/videos'

-#- @styles.each do |style|
-#  = render partial: 'course_video_row', locals: { style: style }
-#- if @styles.empty?
-#  = t('home.courses.none_yet')


-#- if !user_signed_in? || user_admin?
-#  = render partial: 'ctas'
-#- else
-#  = render partial: 'subscription_state'
-#  %br
-#  %br
-#

%a.anchor-offset(name='contact')
%section#contact.py-5.darkgrey_fullwidth.pb-6
  = render partial: 'pages/home/contact'

