-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= form_for @contact ||= Contact.new,
  url: contacts_path(@contact, anchor: 'contact'),
  builder: BulmaFormBuilder::FormBuilder do |f|
  - if @contact.errors.any?
    #error_explanation.notification.has-text-danger
      %h2
        = t("errors.prohibited_from_saving", count: @contact.errors.count)
      %ul
        - @contact.errors.full_messages.each do |message|
          %li= message

  = invisible_captcha

  - if !user_signed_in?
    .field
      -# i18n-tasks-use t('activemodel.attributes.contact.sender_email')
      = f.label :sender_email, class: 'has-text-white'
      = f.text_field :sender_email

    .field
      -# i18n-tasks-use t('activemodel.attributes.contact.phone_number')
      = f.label :phone_number, class: 'has-text-white'
      = f.text_field :phone_number

  .field
    -# i18n-tasks-use t('activemodel.attributes.contact.subject')
    = f.label :subject, class: 'has-text-white'
    = f.text_field :subject

  .field
    -# i18n-tasks-use t('activemodel.attributes.contact.message')
    = f.label :message, class: 'has-text-white'
    = f.text_area :message

  .actions
    = f.submit t('contact.send'), class: 'button is-primary'
