-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h2.title.is-4.mb-4
  = t('home.styles.courses')
%table
  - @style.courses.active.each do |course|
    %tr.course
      %td.name= course.name
      %td.weekday
        - if day = course.dayofweek
          %b
            = I18n.t(:"date.day_names")[day]
      %td.time
        - if course.start_time
          = l(course.start_time,
            format: :clock_wordless)
        = "-"
        - if course.end_time
          -# i18n-tasks-use t('time.formats.clock_wordless')
          = l(course.end_time,
            format: :clock_wordless)
      %td.place
        = course.place.name
        %i
          = course.place.building_name
          = course.place.address

