-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%p
  = @user.email
  = t('contact_mailer.contacted_you')

%p
  %b
    = t('contact_mailer.subject')
  = @contact.subject

%p
  %b
    = t('contact_mailer.message')
  = simple_format @contact.message
