%h2.title
  = t('.sign_in')
= form_for(resource, as: resource_name, url: session_path(resource_name), builder: BulmaFormBuilder::FormBuilder) do |f|
  .field
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    = f.password_field :password, autocomplete: "current-password"
  - if devise_mapping.rememberable?
    .field
      = f.label :remember_me
      = f.check_box :remember_me
  .actions
    = f.submit t('.sign_in'), class: 'button is-primary'
  %br/
= render "devise/shared/links"
