%h2.title
  = t('.sign_in')
= form_for(resource, as: resource_name, url: session_path(resource_name), builder: BulmaFormBuilder::HorizontalBulmaFormBuilder, class: 'has-text-left') do |f|
  .field.is-horizontal.pt-3
    .field-label
      = f.label :email, class: 'label'
    .field-body
      .field
        .control
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input'

  .field.is-horizontal
    .field-label
      = f.label :password, class: 'label'
    .field-body
      .field
        .control
          = f.password_field :password, autocomplete: "current-password", class: 'input'

  - if devise_mapping.rememberable?
    .field.pt-5
      = f.check_box :remember_me
      = f.label :remember_me

  .actions.pb-3
    %br
    = f.submit t('.sign_in'), class: 'button is-primary'

= render "devise/shared/links"
