%h1.title= @course.name

-#Description
-#%br

%h2.title.is-4
  = t('courses.videos')

- if @course.lessons.empty?
  .box
    =t('courses.no_lessons_yet')
- @course.lessons.active.each do |lesson|
  .box
    - if lesson.image.attached?
      = image_tag rails_blob_url(lesson.image)
    - else
      -# Need placeholder image
    = link_to lesson.name, lesson

- if user_admin?
  = link_to t('courses.new'), new_admin_course_lesson_path(@course), class: 'button'
  = link_to t('courses.edit'), edit_admin_course_path(@course), class: 'button'

%hr

= link_to t('Back'), courses_path, class: 'button is-link'
