-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- content_for(:html_title) { @course.name }

%script{type: "application/ld+json"}
  {
  "@context": "https://schema.org",
  "@type": "Course",
  "name": "#{@course.name}",
  "description": "#{@course.description}",
  "provider": {
  "@type": "Organization",
  "name": "yoga mit véronique",
  "sameAs": "https://online.yogamitveronique.de"
  }
  }

.level
  .level-left
    .level-item
      %h1.title.is-2= @course.name
  - if user_admin?
    .level-right
      .level-item.buttons
        = link_to new_admin_course_lesson_path(@course), class: 'button' do
          %span.icon.is-small
            %i.fas.fa-user-shield
          %span
            = t('courses.new-video')
        = link_to edit_admin_course_path(@course), class: 'button is-link is-outlined' do
          %span.icon.is-small
            %i.fas.fa-user-shield
          %span
            = t('course.admin.edit')

- if @course.description.present?
  %blockquote
    = @course.description
  %br

.content
  != SiteSetting['courses_general']

- if user_admin?
  %h2.title.is-4
    = t('courses.videos-inactive')

  - @course.lessons.inactive.each do |lesson|
    .box.has-background-danger.has-text-light
      - if lesson.preview_image.attached? && lesson.video.attached?
        %article.media
          %figure.media-left
            %video(controls="true" poster="#{rails_blob_url(lesson.preview_image)}" preload="metadata" id="vs-#{lesson.id}" width="240")
              %source{src: rails_blob_url(lesson.video), type:"video/mp4"}
              = t('no-video-support')
          .media-content
            .content
              %h3.is-title.is-7
                = lesson.name
              = l lesson.created_at, format: '%A, %d. %B %Y'
              .level
                .level-item
                  .buttons
                    = link_to edit_admin_course_lesson_path(lesson.course, lesson), class: 'button is-link is-outlined' do
                      %span.icon.is-small
                        %i.fas.fa-user-shield
                      %span
                        = t('course.admin.edit-lesson')

                    = link_to [:admin, lesson.course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-link is-outlined' do
                      %span.icon.is-small
                        %i.fas.fa-user-shield
                      %span
                        = t('course.admin.destroy-lesson')

  .buttons
    = link_to new_admin_course_lesson_path(@course), class: 'button' do
      %span.icon.is-small
        %i.fas.fa-user-shield
      %span
        = t('courses.new-video')

    = link_to edit_admin_course_path(@course), class: 'button is-outlined' do
      %span.icon.is-small
        %i.fas.fa-user-shield
      %span
        =t('courses.edit')

%hr

= link_to t('actions.Back'), :back, class: 'button is-link'
