.level
  .level-left
    .level-item
      %h1.title= @course.name
  - if user_admin?
    .level-right
      .level-item
        = link_to t('course.admin.edit'), edit_admin_course_path(@course), class: 'button is-link is-outlined'

-#Description
-#%br

%h2.title.is-4
  = t('courses.videos')

- if @course.lessons.active.empty?
  .box
    =t('courses.no_lessons_yet')
- @course.lessons.active.each do |lesson|
  .box
    - if lesson.preview_image.attached? && lesson.video.attached?
      %article.media
        %figure.media-left
          - if user_has_access?
            %video(controls="true" poster="#{rails_blob_url(lesson.preview_image)}" preload="auto" id="vs-#{lesson.id}" width="240")
              %source{src: rails_blob_url(lesson.video), type:"video/mp4"}
          - else
            .image
              = image_tag lesson.preview_image.variant(resize_to_fill: [320,240]).processed
        .media-content
          .content
            %h3.is-title.is-7
              = lesson.name
            = l lesson.created_at, format: '%A, %d. %B %Y'
            %br
            - if lesson.video.attached? && lesson.video.metadata[:duration]
              = "%s:" % t('video.length')
              = (lesson.video.metadata[:duration] / 60).round
              =t('video.minutes')
            .level
              .level-item
                - if user_admin?
                  .buttons
                    = link_to t('course.admin.edit-lesson'), edit_admin_course_lesson_path(lesson.course, lesson), class: 'button is-link is-outlined'
                    = link_to t('course.admin.destroy-lesson'), [:admin, lesson.course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-link is-outlined'

- if user_admin?
  %h2.title.is-4
    = t('courses.videos-inactive')

  - @course.lessons.inactive.each do |lesson|
    .box.has-background-danger.has-text-light
      - if lesson.preview_image.attached? && lesson.video.attached?
        %article.media
          %figure.media-left
            %video(controls="true" poster="#{rails_blob_url(lesson.preview_image)}" preload="auto" id="vs-#{lesson.id}" width="240")
              %source{src: rails_blob_url(lesson.video), type:"video/mp4"}
          .media-content
            .content
              %h3.is-title.is-7
                = lesson.name
              = l lesson.created_at, format: '%A, %d. %B %Y'
              .level
                .level-item
                  .buttons
                    = link_to t('course.admin.edit-lesson'), edit_admin_course_lesson_path(lesson.course, lesson), class: 'button is-link is-outlined'
                    = link_to t('course.admin.destroy-lesson'), [:admin, lesson.course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-link is-outlined'

  = link_to t('courses.new'), new_admin_course_lesson_path(@course), class: 'button'
  = link_to t('courses.edit'), edit_admin_course_path(@course), class: 'button is-outlined'

%hr

= link_to t('Back'), :back, class: 'button is-link'
