-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title
  = t('admin.emails.title')

- if @pagy.pages > 1
  = t('pagy.showing_from_to_total', from: @pagy.from, to: @pagy.to, total: @pagy.count, item_name: t('emails'))
  != pagy_bulma_nav(@pagy)

%table.table.is-fullwidth
  %thead
    %tr
      %th
        = t("admin.emails.mails_table.to")
      %th
        = t("admin.emails.mails_table.subject")
      %th
        = t("admin.emails.mails_table.sent_at")
      %th
        = t("admin.emails.mails_table.mailer")
      %th
        = t("admin.emails.mails_table.content")
  %tbody
    - @mails.each do |mail|
      %tr
        %td= mail.to
        %td= mail.subject
        %td= mail.sent_at
        %td= mail.mailer
        %td= link_to t(:view), admin_email_path(mail), class: 'button'

- if @pagy.pages > 1
  != pagy_bulma_nav(@pagy)
 
