-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= form_for [:admin, @site_setting], builder: BulmaFormBuilder::FormBuilder do |f|
  - if @site_setting.errors.any?
    #error_explanation
      %h2
        = t("errors.prohibited_from_saving", count: @site_setting.errors.count)
      %ul
        - @site_setting.errors.full_messages.each do |message|
          %li= message

  = hidden_field_tag 'back_path', params[:back_path]

  = f.hidden_field :key
  .field
    - if @site_setting.kind == "markdown"
      .columns{ data: { controller: 'render_md_preview reveal', reveal: { shown: "false" } } }
        .column
          = f.label :value
          %button{ data: { action: 'render_md_preview#render reveal#reveal' },
            class: 'button' }
            = t('actions.preview')
          = f.text_area :value, rows: 20, data: { target: 'render_md_preview.source' }
        .column#reveal-content{ data: { target: 'reveal.content' } }
          .label
            = t('actions.preview')
          %button{ data: { action: 'reveal#hide' }, class: 'button' }
            = t('actions.hide')
          %button{ data: { action: 'render_md_preview#render' }, class: 'button' }
            = t('actions.refresh')
          .content
            #preview{ data: { target: 'render_md_preview.result' } }
              != @site_setting.value_rendered
    - elsif @site_setting.kind == "image"
      = f.label :value
      = f.file_field :image
    - else @site_setting.kind == "image"
      = f.label :value
      = f.text_field :value
  .actions
    = f.submit t('actions.Save'), class: 'button is-primary is-pulled-right'
