-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= form_for [:admin, @site_setting], builder: BulmaFormBuilder::FormBuilder do |f|
  - if @site_setting.errors.any?
    #error_explanation
      %h2
        = t("errors.prohibited_from_saving", count: @site_setting.errors.count)
      %ul
        - @site_setting.errors.full_messages.each do |message|
          %li= message

  = f.hidden_field :key
  .field
    = f.label :value
    - if @site_setting.kind == "markdown"
      = f.text_area :value, rows: 20
    - elsif @site_setting.kind == "image"
      = f.file_field :image
    - else @site_setting.kind == "image"
      = f.text_field :value
  .actions
    = f.submit t('actions.Save'), class: 'button is-primary is-pulled-right'
