-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= form_for [:admin, @site_setting], builder: BulmaFormBuilder::FormBuilder do |f|
  - if @site_setting.errors.any?
    #error_explanation
      %h2
        = t("errors.prohibited_from_saving", count: @site_setting.errors.count)
      %ul
        - @site_setting.errors.full_messages.each do |message|
          %li= message

  = hidden_field_tag 'back_path', params[:back_path]

  = f.hidden_field :key
  .field
    - if @site_setting.kind == "markdown"
      = render partial: 'admin/site_settings/fields/markdown', locals: { f: f }
    - elsif @site_setting.kind == "image"
      = render partial: 'admin/site_settings/fields/image', locals: { f: f }
    - else
      = render partial: 'admin/site_settings/fields/text', locals: { f: f }
  .actions
    = f.submit t('actions.Save'), class: 'button is-primary is-pulled-right'
