-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title
  = t('settings.site.title')
  = @site_setting.key

.subtitle
  = t('site_settings.' + @site_setting.key + '.help')

= render 'form'

%br.is-clearfix
= link_to admin_site_settings_path, class: 'has-text-danger' do
  %span.icon
    %i.fa.fa-arrow-left
  = t('actions.Back')
