%h1.title
  = t('Listing site_settings')

%table.table.is-striped.is-fullwidth
  %thead
    %tr
      %th= t('Key')
      %th= t('Value')
      %th
      %th

  %tbody
    - @site_settings.each do |site_setting|
      %tr
        %td= site_setting.key
        %td
          - if site_setting.kind == 'image'
            - if site_setting.image.attached?
              = image_tag site_setting.image.variant(resize_to_fill: [120, 120]).processed
          = site_setting.value
        %td
          - if site_setting.kind == "markdown"
            = link_to t('Show'), [:admin, site_setting]
        %td
          = link_to 'Edit', edit_admin_site_setting_path(site_setting)

%br
