-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title
  = t('Listing site_settings')

%h2.subtitle.is-4
  = t('site_settings.general')

= render partial: 'settings_table', locals: { site_settings: @general_settings }

%h2.subtitle.is-4
  = t('site_settings.home-page')

= render partial: 'settings_table', locals: { site_settings: @start_page_settings }

%h2.subtitle.is-4
  = t('site_settings.sub-pages')

= render partial: 'settings_table', locals: { site_settings: @pages_settings }

