%p= t('.greeting', recipient: @resource.email)
%p
  = t('.instruction')
  = t('.instruction_2')
  = t('.please_click_to_change')
%p= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token)
%p= t('.instruction_3')
%p= t('.see_you')
%p= t('.author', author: SiteSetting['your_name'] || Yosis)
