-# SPDX-FileCopyrightText: 2022 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title= @seminar.name

.container.content
  != @seminar.description_rendered

= link_to "mailto:#{ENV['SENDER_EMAIL']}", class: 'button is-primary' do
  = t('seminars.contact_and_info')

