%h1.title
  = t('admin.users.title')

= User.count
= t('admin.users.total')

= Subscription.current.count
= t('admin.subscriptions.total')

%br
%br

%table.table.is-fullwidth
  %thead
    %tr
      %th= t('admin.users.table.th.email')
      %th= t('admin.users.table.th.subscription')
      %th= t('admin.users.table.th.state')
      %th= t('admin.users.table.th.created_at')
      %th= t('admin.users.table.th.sign_in_count')
      %th
  %tbody
    - @users.each do |user|
      - access = AccessState.new(user)
      %tr
        %td
          = link_to [:admin, user] do
            = user.email
        %td
          - case access.level
          - when :admin
            .tag.is-danger
              %span.icon
                %i.fas.fa-user-shield
              = t('admin.user.subscription.admin')
          - when :trial
            .tags.has-addons
              .tag
                %span.icon.is-link
                  %i.fas.fa-question
                = t('admin.user.subscription.trial')
              - if days_till_end_of_trial(user) < 3
                .tag.is-danger
                  = days_till_end_of_trial user
              - else
                .tag.is-warning
                  = days_till_end_of_trial user
          - when :full
            .tags.has-addons
              .tag.is-primary
                %span.icon
                  %i.fas.fa-check
                = t('admin.user.subscription.subscribed')
              - if days_till_end_of_subscription(user) < 7
                .tag.is-danger
                  = days_till_end_of_subscription(user)
              - elsif days_till_end_of_subscription(user) < 15
                .tag.is-warning
                  = days_till_end_of_subscription user
              - else
                .tag.is-success
                  = days_till_end_of_subscription user
        %td
          - case access.state
          - when :unconfirmed
            .tag.is-link
              = t('admin.users.unconfirmed')
          - when :invitation_pending
            .tag.is-info
              = t('admin.users.pending_invitation')
            %br
            = l user.invitation_sent_at, format: '%a %d. %B %H:%M'
          - when :admin
            .tag.is-danger
              = t('admin.users.admin')
          - when :trial_ended
            .tag.is-link
              = t('admin.users.trial-ended')
        %td
          = l user.created_at, format: '%a %d. %B %H:%M'
        %td
          = user.sign_in_count
        %td
          - if user != current_user
            = link_to t('admin.user.impersonate'), impersonate_user_path(user), method: :post, class: 'button'
          - else
            .tag.is-danger
              = t('admin.users.its-you')

= link_to t('admin.users.invite_new'), new_user_invitation_path, class: 'button'
