-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%footer.footer#footer
  .content
    .level
      .level-item
        %p
          %strong
            yogamitveronique.de
          \|
          = link_to t('navigation.pages.impressum'), impressum_path
          \|
          = link_to t('navigation.pages.terms'), terms_path
          \|
          = link_to t('navigation.pages.privacy_statement'), privacy_path
      - admin_edit_area edit_path: edit_admin_site_setting_path(SiteSettings.fetch('copyright_notice')),
        back_anchor: 'footer' do
        .level-right
          .level-item
            = link_to "https://github.com/econya/yosis" do
              %span.icon
                %i.fab.fa-github
          .level-item
            != SiteSetting['copyright_notice']

