-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%nav.navbar.is-link.is-fixed-top{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    -#  -#%a.navbar-item{:href => "https://bulma.io"}
    -#  -#  -#%img{:height => "28", :src => "", :width => "112"}/
    -#  -#  %i.fa.fa-server
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "yosisNavbar", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #yosisNavbar.navbar-menu
    .navbar-start
      = link_to t('about_us'),    about_us_url, class: 'navbar-item'
      = link_to t('the_website'), root_url, class: 'navbar-item'
      = link_to 'info@yogamitveronique.de', 'mailto:info@yogamitveronique.de', class: 'navbar-item'

      -#= link_to topology_path, class: nav_item_classes(topology_path) do
      -#  %span.icon
      -#    %i.fa.fa-vector-square
      -#  = t('Topology')

    .navbar-end
      - if user_signed_in?
        = link_to t('navigation.user.settings'), edit_user_registration_path, class: 'navbar-item'

        - if user_admin?
          .navbar-item.has-dropdown.is-hoverable
            .navbar-link
              = t('navigation.admin')
            .navbar-dropdown
              = link_to t('navigation.courses'),   admin_courses_path,   class: 'navbar-item'
              = link_to t('navigation.appointments'), admin_appointments_path, class: 'navbar-item'
              = link_to t('navigation.site_settings'), admin_site_settings_path, class: 'navbar-item'
              = link_to t('navigation.users'), admin_users_path, class: 'navbar-item'

        = link_to t('sign_out'), destroy_user_session_path, method: :delete, class: "navbar-item"
      - else
        = link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'navbar-item'
        = link_to t('register_new'), new_user_registration_path, class: 'navbar-item'
