-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%nav.navbar.is-link.is-fixed-top{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    - if (logo = SiteSetting.find_by_key("logo"))&.image&.attached?
      = link_to root_path, class: 'is-hidden-desktop' do
        = image_tag logo.image.variant(resize_to_fill: [128, 128]).processed, class: 'logo'
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "yosisNavbar", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #yosisNavbar.navbar-menu
    .navbar-start
      = link_to t('about_us'),    about_us_url, class: 'navbar-item'
      = link_to root_url, class: 'navbar-item' do
        %span.icon
          %i.fa.fa-heart
        %span
          = t('the_website')
      = link_to 'mailto:info@yogamitveronique.de', class: 'navbar-item' do
        %span.icon
          %i.fas.fa-envelope
        %span
          = 'info@yogamitveronique.de'
    - if (logo = SiteSetting.find_by_key("logo"))&.image&.attached?
      = link_to root_path, class: 'is-hidden-mobile is-hidden-tablet-only' do
        = image_tag logo.image.variant(resize_to_fill: [128, 128]).processed, class: 'logo'

    = link_to SiteSetting['title'], root_path, class: 'navbar-item'

    .navbar-end
      - if user_signed_in?
        - if current_user != true_user
          .navbar-item
            = link_to t('admin.user.back_to_admin'), stop_impersonating_users_path, method: :post, class: 'button'
        = link_to t('navigation.user.settings'), edit_user_registration_path, class: 'navbar-item'

        - if user_admin?
          .navbar-item.has-dropdown.is-hoverable
            .navbar-link
              %span.icon
                %i.fas.fa-user-shield
              %span
                = t('navigation.admin')
            .navbar-dropdown
              = link_to t('navigation.courses'),   admin_courses_path,   class: 'navbar-item'
              = link_to t('navigation.appointments'), admin_appointments_path, class: 'navbar-item'
              = link_to t('navigation.site_settings'), admin_site_settings_path, class: 'navbar-item'
              = link_to t('navigation.users'), admin_users_path, class: 'navbar-item'

        = link_to t('sign_out'), destroy_user_session_path, method: :delete, class: "navbar-item"
      - else
        .navbar-item
          = link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'button is-primary is-outlined'
        .navbar-item
          = link_to t('register_new'), new_user_registration_path, class: 'button is-primary is-outlined'
