-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

.level
  .level-left
    .level-item
      %h1.title
        = new_title
  .level-right
    .level-item
      = link_to back_target,
        class: 'button is-danger is-outlined is-small' do
        = t('actions.show-all')

= yield

%br.is-clearfix
%hr

.backmatter
  = link_to back_target,
    class: 'button is-danger is-outlined is-small' do
    %span.icon
      %i.fa.fa-arrow-left
    %span
      = t('actions.Back')
  
