= form_for [:admin, @course], builder: BulmaFormBuilder::FormBuilder do |f|
  - if @course.errors.any?
    #error_explanation
      %h2
        = t("errors.prohibited_from_saving", count: @course.errors.count)
      %ul
        - @course.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :place
    = f.collection_select :place_id, @places, :id, :name, prompt: t('Select Place')
  .field
    = f.label :style
    = f.collection_select :style_id, @styles, :id, :name, prompt: t('Select Style')
  .field
    = f.label :dayofweek
    = f.select :dayofweek, I18n.t(:'date.day_names').zip(0..7), prompt: t('Select Day of week')
  .field
    = f.label :start_time
    = f.time_select :start_time, {minute_step: 5}
  .field
    = f.label :end_time
    = f.time_select :end_time, {minute_step: 5}
  .field
    = f.label :note
    = f.text_field :note
  .field
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit 'Save', class: 'button is-primary'
