-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= form_for [:admin, @course], builder: BulmaFormBuilder::FormBuilder do |f|
  - if @course.errors.any?
    #error_explanation
      %h2
        = t("errors.prohibited_from_saving", count: @course.errors.count)
      %ul
        - @course.errors.full_messages.each do |message|
          %li= message

  = hidden_field_tag 'back_path', params[:back_path]

  .field
    -# i18n-tasks-use t('activerecord.attributes.course.name')
    = f.label :name
    = f.text_field :name
  .field
    -# i18n-tasks-use t('activerecord.attributes.course.description')
    = f.label :description
    = f.text_field :description
  .field
    -# i18n-tasks-use t('activerecord.attributes.course.place')
    = f.label :place
    = f.collection_select :place_id, @places, :id, :name, prompt: t('admin.courses.select_place')
  .field
    -# i18n-tasks-use t('activerecord.attributes.course.style')
    = f.label :style
    = f.collection_select :style_id, @styles, :id, :name, prompt: t('admin.courses.select_style')
  .field
    -# i18n-tasks-use t('activerecord.attributes.course.dayofweek')
    = f.label :dayofweek
    = f.select :dayofweek, I18n.t(:'date.day_names').zip(0..7), prompt: t('admin.courses.select_dow')
  .field
    -# i18n-tasks-use t('activerecord.attributes.course.start_time')
    = f.label :start_time
    = f.time_select :start_time, {minute_step: 5}
  .field
    -# i18n-tasks-use t('activerecord.attributes.course.end_time')
    = f.label :end_time
    = f.time_select :end_time, {minute_step: 5}
  .field
    -# i18n-tasks-use t('activerecord.attributes.course.note')
    = f.label :note
    = f.text_field :note
  .field
    -# i18n-tasks-use t('activerecord.attributes.course.active')
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit t('actions.save'), class: 'button is-primary is-pulled-right'
