-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

:ruby
  admin_head_locals = {
  title: t('courses.listing-heading'),
  admin: {
    new: {
      url: new_admin_course_path,
      label: t('admin.course.new')
    }
  }}

= render partial: 'admin_head_level', locals: admin_head_locals

%table.table.is-striped.is-fullwidth.is-hoverable
  %thead
    %tr
      %th= t('admin.courses.table.order')
      %th
      %th= Course.human_attribute_name :name
      %th= Course.human_attribute_name :place
      %th= Course.human_attribute_name :style
      %th= t('admin.courses.table.times')
      %th= Course.human_attribute_name :description
      %th= Course.human_attribute_name :note
      %th

  %tbody
    - first, last = @courses.first, @courses.last

    - @courses.each do |course|
      %tr
        %td.rank
          = course.row_order_rank
          - if course != first
            = link_to admin_course_position_path(course), method: :post do
              %span.icon.has-text-primary
                %i.fas.fa-arrow-up.is-small
          - else
            %span.icon.has-text-primary
              %i.fas.fa-empty.is-small
          - if course != last
            = link_to admin_course_position_path(course), method: :delete do
              %span.icon.has-text-primary
                %i.fas.fa-arrow-down
          - else
            %span.icon.has-text-primary
              %i.fas.fa-empty.is-small
        %td
          - if !course.active?
            %span.icon.has-text-danger
              %i.fas.fa-eye-slash
        %td.name
          = course.name
        %td.place
          - if place = course.place
            = link_to place do
              = place.name
        %td.style
          - if style = course.style
            - if course.active?
              %figure.image.is-64x64
                = image_tag style.image.variant(resize_to_fill: [64, 64]).processed if style.image.attached?
            = link_to style do
              = style.name
        %td
          = I18n.t('date.day_names')[course.dayofweek||0]
          - if course.start_time
            = l(course.start_time, format: '%H:%M')
          = "-"
          - if course.end_time
            = l(course.end_time, format: '%H:%M')
        %td.description
          = course.description
        %td.note
          = course.note
        %td
          .buttons
            = link_to t('actions.show'), [:admin, course], class: 'button is-small'
            = link_to t('actions.edit'), edit_admin_course_path(course), class: 'button is-small'
            - if !course.active?
              = link_to t('actions.Destroy'), [:admin, course], method: :delete,
                data: { confirm: t('Are you sure?') },
                class: 'button is-small is-danger'

%br

= link_to t('admin.course.new'), new_admin_course_path, class: 'button is-link is-outlined'
