!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1"}/
    %title
      = SiteSetting['title'] || 'Yosis'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.has-navbar-fixed-top
    = render 'navbar'
    .main-section
      %section.hero.is-info.is-fullheight-with-navbar#hero-section
        .hero-head
          .container
            = render 'flashs'
            = yield
        .hero-body
        .hero-foot
          %footer.footer
            .content.has-text-centered
              %p
                %strong
                  yogamitveronique.de
                = link_to t('navigation.pages.impressum'), impressum_path
                = link_to t('navigation.pages.terms'), terms_path
                = link_to t('navigation.pages.privacy_statement'), privacy_path
                Copyright 2020 Véronique Wolfsteller
