!!!
%html{lang: 'de'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1"}/
    %title
      = SiteSetting['title'] || 'Yosis'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    %link(rel="shortcut icon" href="/favicon.ico")
    %link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
  %body.has-navbar-fixed-top
    = render 'navbar'
    .main-section
      %section.hero.is-fullheight-with-navbar#hero-section
        .hero-head
          .container
            = render 'flashs'
            = yield
        .hero-body
        .hero-foot
          = render 'footer'
